/* TAGS */

body {
  margin: 0;
  font-family: 'Lato', sans-serif !important;
  text-align: center;
}

 p{
   color: black !important;
 }

div a{
  color: black;
  text-decoration: none;
}

 div a:hover{
   color: black;
   text-decoration: none;
 }

 button {
   cursor: pointer;
 }

 /* CHOOSE CHARACTER */
 /* HIDE RADIO */

 [type=radio] {
   position: absolute;
   opacity: 0;
   width: 0;
   height: 0;
 }

 /* IMAGE STYLES */
 [type=radio] + img {
   cursor: pointer;
 }

 /* CHECKED STYLES */
 [type=radio]:checked + img {
   border-bottom: 3px solid #4872B1;
 }

/* Navigation Bar */

.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
      display: block;
  }

#navbar{
  z-index: 1;
  padding: 0 10%;
  height: 6vh;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 7, 0.8);
  background-color: #F9875C;
}

#navbar li {
  display: inline-block;
  float: right;
}

#navbar a{
  font-size: 17px;
  float: right;
  display: block;
  color: rgba(255,255,255, 0.8);
  text-align: center;
  padding: 1.14vh 16px;
  text-decoration: none;
}

#navbar a:hover {
  border-radius: 0;
  border-bottom: 3.5px solid #FF1A1A;
  color: white;
}

#navbar a.current{
  border-radius: 0;
  border-bottom: 3.5px solid #00004D;
  color: white;
  font-size: 17px;
  float: left;
}

#navbar .active{
  color: white;
  font-size: 18px;
}

#navbar .dropdown-menu a{
  text-align: left;
  color: black;
}

#navbar .dropdown-menu a:hover{
  border: none;
  width: 100%;
  background-color: #ddd;
}

#navbar .dropdown-menu{
  box-shadow: 0px 10px 15px 0px #888888;
  text-align: center;
  padding: 0;
  position: absolute; top:5.8vh;
}

#navbar .nav-item{
  padding-right: 0;
  float: left;
}

.logout {
  overflow: hidden;
  width: 50px;
  float: right;
  margin: 0.7rem 1rem;
}

/* Sticky Navigation Bar */

.hide {
  display: none;
}

.sticky {
  position: fixed;
  left:0; right:0; top: 0;
}

.sticky + .content {
  padding-top: 60px;
}

/* Header IMG */

.headerIMG{
  height: 25vh;
  width: 100%;
}

.img{
  max-width: 527px;
  height: auto;
  float: left;
  margin-left: 40px;
  padding-top: 50px;
}

/* HOME */

.home{
  z-index: 0;
  text-align: center;
  margin: 40px auto;
  padding: 20px 0;
}

#intro {
  margin: 20px auto;
}

#personajeIntro{
  position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
  padding: 27px;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

#personajeIntro:target {
	opacity:1;
	pointer-events: auto;
}

#personajeIntro > div {
  border-radius: 10px;
  background-color: lightpink;
	width: 1000px;
  height: auto;
	position: relative;
	margin: 40px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.clases {
  margin: 2em 3em;
  width: 500px;
  height: 280px;
  border-radius: 1em;
  display: inline-block;
  position: relative;
  background-size: cover;
}

/* CLASE */

.actividades {
  max-width: 80em;
  display: inline-block;
  padding: 30px;
  overflow: hidden;
}

.actividades img {
  border-radius: 50%;
  margin: 10px 0 0 0;
}

.actividades p{
  color: black;
  margin: 15px 0 0 0;
  align-self: baseline;
}

.act {
  margin: 10px 0 0 60px;
  float: left;
  z-index: 1;
  height: 10em;
  width: 55em;
  overflow: hidden;
  text-align: left;
  float: left;
  padding: 0 12%;
  border-radius: 0 0 10px 0;
}

.date {
  position: absolute;
  z-index: 0;
  max-width: 10em;
  max-height: 10em;
  min-width: 8em;
  min-height: 10em;
  float: left;
  border-radius: 10px 0 0 0;
}

.fini {
  position: absolute;
  z-index: 0;
  max-width: 10em;
  max-height: 10em;
  min-width: 8em;
  min-height: 10em;
  border-radius: 0 0 10px 0;
  float: left;
  margin: 20px 0 0 50em;
  background-color: #FF6600;
}

.date p, .fini p {
  color: white !important;
}

.info {
  font-size: 18px;
  max-width: 30em;
  min-width: 10em;
  text-align: justify;
  position: absolute;
  z-index: 0;
  display: inline-block;
  float: left;
}

.keyword {
  font-size: 16px;
  margin: 80px 0;
  font-weight: bold;
  display: inline-block;
}

.info2 {
  margin: 70px 0;
  padding: 0 15px;
  font-size: 16px;
  text-align: justify;
  display: inline-block;
}

.titulo {
  font-weight: bold;
}

/* Actividad A */

.tutorial {
  margin: auto;
  width: 80%;
  height: auto;
  background-color: #2474B5;
  overflow: hidden;
  padding: 10px;
}

.tutorial iframe {
  float: left;
}

.canciones {
  margin: 50px 5px 100px;
  width: 300px;
  height: 150px;
  background-color: #2474B5;
  padding: 8px;
  overflow: visible;
  cursor: pointer;
}

.songs {
  height:300px;
  width:auto;
  margin:0;
  padding:0;
  display:inline-block;
  vertical-align: top;
}

.canciones p {
  color: black;
  font-size: 20px;
  max-width: 300px;
}

.tutInfo {
  float:left;
  width: 490px;
  height: 393.75px;
  background-color:white;
}

.tutInfo p {
  margin:auto;
  padding: 10px 10px;
  font-size: 25px;
}

.opciones {
  margin: 0 0 0 40px;
  width:35%;
  height: 365px;
  float: right;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  padding: 0 10px;
  border-radius: 15px 0 0 0;
}

.botones {
  margin: 2% 12% 0;
}

.ply {
  width: 100px;
  background-color: teal;
  color: white;
  height: 50px;
  margin: 0 0 0 34px;
  float: left;
}

.textArea {
  width:auto;
  float:left;
  margin: 0 10px;
}

.textArea textarea {
  border-radius: 6px;
}

#preguntas {
  border-radius: 0 20px;
  width: 76%;
  position: absolute;
  margin: 2% 12% 5%;
  padding: auto;
  background-Color: rgba(0,0,0,0.15);
}

#toastView {
  background-Color:rgba(0, 0, 0, 0.7);
  position:absolute;
  border-radius:5px;
  padding:5px;
  color:white;
  margin: 8% 5%;
  font-size:18px;
  display: none;
}

#dialogo {
  width: 80%;
  height: auto;
}

.btns {
  margin: 10px 20px;
  cursor: pointer;
  width: 220px;
  font-weight: 400;
  font-size: 20px;
  color: white;
  background-color:  #00004D;
  border-radius: 4px;
  border-color: rgba(0,0,0,0);
}

.ply {
  margin: 10px;
  cursor: pointer;
  width: 150px;
  font-weight: 330;
  font-size: 18px;
  color: white;
  background-color: #00004D;
  border-radius: 4px;
  border-color: rgba(0,0,0,0);
}

/* ACTIVIDAD B */

.wrapup {
  width: 100%;
  height: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.active {
  font-weight: bolder;
}

.left {
  width: 28%;
  float: left;
  overflow: hidden;
}

.left img {
  cursor: pointer;
  margin: 3px auto;
}

.right {
  float: left;
  width: 72%;
  min-height: 650px;
  display: flex;
  border-left: solid 2px;
}

.hide {
  text-align: left;
  display: inline-block;
  width: 18%;
  padding: 30px;
  font-size: 20px;
  float: left;
}

.hide span:hover{
  font-weight: bolder;
}

.show{
  margin: 20px 0 0 0;
}

.items {
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  padding: 25px 2.8em;

}

.it {
  margin: 10px;
  float: left;
}

.it a {
  cursor: pointer;
}

.it a:hover{
  font-weight: bolder;
}

.noNav {
  float: left;
  height: auto;
  cursor: pointer;
  padding: 10px 20px;
}

/* SCROLLBAR */

.scrollbar {
  box-shadow: 5px 10px 10px rgba(66,66,66,0.2);
	margin: 10px 10px;
	float: right;
  height: 400px;
	width: 96%;
	overflow-y: scroll;
	margin-bottom: 25px;
  border-radius: 17px;
}

.force-overflow {
	height: 450px;
}

#style-2::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
  border-radius: 5px;
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #FF1A1A;
}

/* LAYOUT ACTIVIDAD  */

.txt {
  width: 100%;
  margin: 20px auto;
}

.actividadB {
  text-align: left;
  position: relative;
  padding: 30px 70px;
  float: left;
  margin: 0 auto 40px;
  vertical-align: middle;
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.txtbtns {
  display: inline-block;
  width: 100%;
}

/* ACTIVIDAD HISTORIA */

.droppable {
  overflow: hidden;
  display: inline-block;
}

.lay button{
  float: right;
  margin: 15px 0;
}

.tit {
  margin: 10px 0;
  min-width: 70%;
  max-width: 100%;
  min-height: 50px;
  max-height: 60px;
  font-size: 20px;
  padding: 5px;
}

.bod {
  float: left;
  margin: 10px 0;
  width: 100%;
  min-height: 50px;
  max-height: 300px;
  font-size: 20px;
  padding: 5px;
}

.drag {
  position: relative;
  margin: 10px auto;
  width: 250px;
  height: auto;
}

.delete {
  top:0;
  width: 30px;
  height: 30px;
  opacity: 0;
  border: none;
  margin: 0 !important;
  vertical-align: top;
  transition: opacity .35s ease;
  background-color: rgba(0,0,0,0);
}

.divIMG:hover .delete {
  opacity: 1;
}

.ui-resizable-se {
   bottom: 5px;
 }

.divIMG{
  overflow: hidden;
  position: absolute;
  float: left;
  width: 250px;
  height: auto;
}

.dragged{
  float: left;
  margin: 0 1px 0 0;
  width: inherit;
  height: calc(inherit - 30px);
}

.divBubble {
  float: left;
  width: auto;
  height: auto;
}

.divBubble:hover .delete {
  opacity: 1;
}

.txtBubble {
  background-color: rgba(255,255,255,0.7);
  border-radius: 25px;
  z-index: 1;
  color: blue;
  max-width: 200px;
  min-width: 100px;
  max-height: 160px;
  min-height: 80px;
  resize: both;
}

#titulo {
  padding: 5px;
  font-size: 30px;
  border: none;
  margin: 10px 0;
  min-width: 300px;
  max-width: 800px;
}

#dropImgs {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 350px;
}

#imgs{
  float: right;
}

.buts{
  width: 5%;
  position: absolute;
  float: right;
  right: 5%;
  display: inline-block;
  margin: 30px 0;
}

.buts button{
  float: left;
  margin: 10px;
}
