
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

/* Navigation Bar */

#navbarprof{
  padding: 0 10%;
  height: 5.5vh;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 7, 0.8);
  overflow: hidden;
  background-color:#00004D;
}

#navbarprof a{
  font-size: 17px;
  float: right;
  display: block;
  color: rgba(255,255,255, 0.8);
  text-align: center;
  padding: 1.4vh 16px;
  height: 3vh;
  text-decoration: none;
}

#navbarprof a:hover {
  border-top: 3px solid #2474B5;
  color: white;
}

#navbarprof a.current{
  border-top: 3px solid #FF1A1A;
  color: #00004D;
  font-size: 19px;
  background-color: white;
  float: left;
  margin: 0px;
  padding: 7px 10px;
}

#navbarprof div.dropdown{
  float: right;
  overflow: hidden;
}

/* Dropdown button in menu */
.dropbtn {
 font-size: 17px;
 border: none;
 outline: none;
 color: rgba(255,255,255,0.8);
 margin: 0;
 padding: 1.5vh 16px;
 background-color: #00004D;
}

.dropbtnRight{
  background-color: white;
  border: none;
  font-size: 17px;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 1.4vh 16px;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute; top: 30.5vh;
  box-shadow: 0px 10px 15px 0px #888888;
  background-color: white;
  min-width: 160px;
}

.dropdown-contentRight {
  height: auto;
  display: none;
  position: absolute; top: 16.5vh; left: 100% ;
  box-shadow: 0px 10px 15px 0px #888888;
  background-color: white;
  min-width: 160px;
}

#navbarprof .active{
  color: white;
  font-size: 18px;
  padding: 9px 16px;
}

#navbarprof .dropdown-content a {
  color: black;
  text-decoration: none;
  text-align: left;
}

#navbarprof .dropdown-contentRight a {
  height: auto;
  text-decoration: none;
  text-align: left;
}

#navbarprof .dropdown-user a{
  color: black;
}

#navbarprof .dropdown-content a:hover {
  border: none;
  background-color: #ddd;
}

#navbarprof .dropdown-contentRight a:hover {
  border: none;
  background-color: #ddd;
  height: auto;
  overflow: hidden;
}

#navbarprof .dropdown-user a:hover{
  border: none;
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: grid;
}

.dropdown-right:hover .dropdown-contentRight {
  display: grid;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  border-top: 3px solid #2474B5;
  color: white;
}

.dropdown-user{
  position: absolute; top:30.5vh;
  width: 133.2px;
  height: auto;
  box-shadow: 0px 10px 15px 0px #888888;
  background-color: white;
}

.logout {
  overflow: hidden;
  width: 50px;
  float: right;
  margin: 0.7% 0;
}

/* Header IMG */

.headerIMG{
  height: 25vh;
  width: 100%;
}

.img{
  max-width: 527px;
  height: auto;
  float: left;
  margin-left: 40px;
  padding-top: 50px;
}
