/* TAGS */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  text-align: center;
}

 p{
   color: black !important;
 }

div a{
  color: black;
  text-decoration: none;
}

 div a:hover{
   color: black;
   text-decoration: none;
 }

/* Navigation Bar */
.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
      display: block;
  }

#navbar{
  z-index: 2;
  padding: 0 10%;
  height: 6vh;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 7, 0.8);
  background-color: #F9875C;
}

#navbar li {
  display: inline-block;
  float: right;
}

#navbar a{
  font-size: 17px;
  float: right;
  display: block;
  color: rgba(255,255,255, 0.8);
  text-align: center;
  padding: 1.12vh 16px;
  text-decoration: none;
}

#navbar a:hover {
  border-radius: 0;
  border-bottom: 3.5px solid #FF1A1A;
  color: white;
}

#navbar a.current{
  border-radius: 0;
  border-bottom: 3.5px solid #00004D;
  color: white;
  font-size: 17px;
  float: left;
}

#navbar .active{
  color: white;
  font-size: 18px;
}

#navbar .dropdown-menu a{
  text-align: left;
  color: black;
}

#navbar .dropdown-menu a:hover{
  border: none;
  width: 100%;
  background-color: #ddd;
}

#navbar .dropdown-menu{
  box-shadow: 0px 10px 15px 0px #888888;
  text-align: center;
  padding: 0;
  position: absolute; top:5.8vh;
}

#navbar .nav-item{
  padding-right: 0;
  float: left;
}

.logout {
  overflow: hidden;
  width: 50px;
  float: right;
  margin: 0.7rem 1rem;
}

/* Sticky Navigation Bar */
.hide {
  display: none;
}

.sticky {
  position: fixed;
  left:0; right:0; top: 0;
}

.sticky + .content {
  padding-top: 60px;
}

/* Header IMG */

.headerIMG{
  height: 25vh;
  width: 100%;
}

.img{
  max-width: 527px;
  height: auto;
  float: left;
  margin-left: 40px;
  padding-top: 50px;
}

/* HOME */

.home{
  text-align: center;
  margin: 40px 0;
  padding: 20px 0;
}


.clases {
  margin: 2em 3em;
  width: 500px;
  height: 280px;
  border-radius: 1em;
  display: inline-block;
  position: relative;
  background-size: cover;
}

#clase {
  color: #00004D;
  margin: auto;

}

/* CLASE */

.actividades {
  max-width: 80em;
  display: inline-block;
  padding: 30px;
}

.actividades img {
  border-radius: 50%;
  margin: 10px 0 0 0;
}

.actividades p{
  color: black;
  margin: 15px 0 0 0;
  align-self: baseline;
}

.act {
  margin: 10px 0 0 100px;
  float: right;
  z-index: -2;
  max-width: 70em;
  max-height: 10em;
  min-width: 50em;
  min-height: 10em;
  background-color: teal;
  overflow: hidden;
  text-align: left;
  padding: 0 10%;
  border-radius: 0 0 10px 0;

}

.date {
  position: absolute;
  z-index: 1;
  max-width: 10em;
  max-height: 10em;
  min-width: 8em;
  min-height: 10em;
  float: left;
  border-radius: 10px 0 0 0;
}

.date p {
  color: white !important;
}

.info {
  font-size: 18px;
  max-width: 35em;
  text-align: justify;
  position: absolute;
  z-index: 0;
  display: inline-block;
  float: left;
}

.keyword {
  font-size: 16px;
  margin: 80px 0;
  font-weight: bold;
  display: inline-block;
}

.info2 {
  margin: 70px 0;
  padding: 0 15px;
  font-size: 16px;
  text-align: justify;
  display: inline-block;
}

.titulo {
  font-weight: bold;
}

/* Actividad A */


.canciones {
  display: inline-block;
  margin: 50px 10px 60px;
  width: 600;
  height: 300px;
  background-color: rgb(140,192,231);
  padding: 15px;
  overflow: visible;
}

.canciones h2 {
  max-width: 540px;
}

.modal-ku {
  width: 750px;
  margin: auto;
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  border-bottom: 3px solid #4872B1;
}

.ply {
  cursor: pointer;
  width: 100px;
  background-color: teal;
  color: white;
  height: 50px;
  z-index: 100;
  margin: 0 0 0 34px;
  left: 0;
  float: left;
}

#time{
  margin: 0 0 0 34px;
  height: auto;
  width: 100px;
  color: black;
  float: left;
}
