
body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  text-align: center;
}

/* Navigation Bar */
.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
      display: block;
  }

#navbar{
  padding: 0 10%;
  height: 6.2vh;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 7, 0.8);
  background-color:#00004D;
}

#navbar li {
  display: inline-block;
  float: right;
}

#navbar a{
  font-size: 17px;
  float: right;
  display: block;
  color: rgba(255,255,255, 0.8);
  text-align: center;
  padding: 1.4vh 16px;
  text-decoration: none;
}

#navbar a:hover {
  border-radius: 0;
  border-top: 3px solid #2474B5;
  color: white;
}

#navbar a.current{
  position: absolute;top:25vh;
  border-top: 3px solid #8CC0E7;
  color: #00004D;
  font-size: 18px;
  background-color: white;
  float: left;
}

#navbar .active{
  color: white;
  font-size: 18px;
}

#navbar .dropdown-menu a{
  text-align: left;
  color: black;
}

#navbar .dropdown-menu a:hover{
  border: none;
  width: 100%;
  background-color: #ddd;
}

#navbar .dropdown-menu{
  box-shadow: 0px 10px 15px 0px #888888;
  text-align: center;
  padding: 0;
  position: absolute; top:5.8vh;
}

#navbar .nav-item{
  padding-right: 0;
}

.logout {
  overflow: hidden;
  width: 50px;
  float: right;
  margin: 0.7rem 1rem;
}

.btnIcon::before{
  content: "+ ";
}

/* Sticky Navigation Bar */
.hide {
  display: none;
}

.sticky {
  position: fixed;
  left:0; right:0; top: 0;
}

.sticky + .content {
  padding-top: 60px;
}

/* HOME */

.body_home{
  margin: auto;
  width: 80%;
  padding-top: 20px;
}

/* Header IMG */

.headerIMG{
  height: 25vh;
  width: 100%;
}

.img{
  max-width: 527px;
  height: auto;
  float: left;
  margin-left: 40px;
  padding-top: 50px;
}

/* Clases */
.body_class{
  margin: auto;
  width: 80%;
  padding-top: 20px;
}

.clase {
  width: 80%;
  height: 70px;
  background-color: #00004D;
  margin: 60px 30px 0 0;
  padding: 5px 0;
  border-radius: 20px;
  display: inline-block
}

.clase a{
  font-size: 25px;
  color:white;
  margin-right: auto;

}

/* Form Register User */

.edit {
  margin: 0 10px;
  padding: 0 5px;
  background: none;
  border: none;
}

.formRegister{
  width: 32%;
  margin: 3% auto;
}

.formRegistro{
  display: inline-block;
}

#titles{
  height: 110px;
  width: 40%;
  float: left;
}

#inputs{
  height: 110px;
  width: 60%;
  float: right;
}

#titles a{
  margin: 3px 0;
  float: right;
}

#inputs input{
  margin-top: 2.5%;
}

#button input{
  margin: 20px 60px;
}

#saveBtn{
  background: none;
  border: none;
  border-style: none;
}
